* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: rgb(242, 250, 253);
    display: flex;
    position: relative;

}

body {
    width: 60%;
    margin: 0 auto;
}


/* Header section */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

header button {
    height: 3rem;
    width: 7rem;
    margin: 0 0.5rem;
    font-size: 20px;
    border: 1.5px solid rgb(35, 53, 160);
    border-radius: 5px;
    background-color: rgb(242, 250, 253);
}

button:hover {
    background-color: rgb(209, 240, 252);
    cursor: pointer;
}

.chosen {
    border-width: 3px;
    -webkit-box-shadow: -1px 7px 22px -6px lightgrey;
    box-shadow: -1px 7px 22px -6px lightgrey;
}

#difficulty{
    height: 2rem;
    width: 5rem;
    font-size: 15px;
}


/* BOARD section */

.main {
    height: 30rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.field {
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-right: 4px solid rgb(35, 53, 160);
    border-bottom: 4px solid rgb(35, 53, 160);
}

.field:hover{
    cursor: pointer;
}

.no-r {
    border-right: none;
}

.no-b {
    border-bottom: none;
}

.clicked {
    animation: showelement;
    animation-duration: 2s;
}

@keyframes showelement {
    0% {
        scale: 1.5;
        color: rgb(2, 2, 2, 0);
        
    }
    100% {
        scale: 1;
        color: rgb(2, 2, 2);
    }
}


/* Footer section */

footer {
    display: flex;
    justify-content: center;
}

footer button {
    height: 3rem;
    width: 24rem;
    font-size: 20px;
    border: 1.5px solid rgb(35, 53, 160);
    border-radius: 5px;
    background-color: rgb(242, 250, 253);
    -webkit-box-shadow: -1px 7px 22px -6px lightgrey;
    box-shadow: -1px 7px 22px -6px lightgrey;
}

/* ANNOUNCE WINNER SECTION */

.announce {
    
    position: absolute;
    z-index: 3;
    width: 24rem;
    height: 24rem;
    /* centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* _________ */
    display: flex;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: visibility 1s ease-out, opacity 1s linear;
}

.announce button{
    height: 3rem;
    width: 9rem;
    margin: 2rem 3rem;
    font-size: 20px;
    border: 1.5px solid rgb(35, 53, 160);
    border-radius: 5px;
    background-color: rgb(242, 250, 253);
    -webkit-box-shadow: -1px 7px 22px -6px lightgrey;
    box-shadow: -1px 7px 22px -6px lightgrey;

}

.announce p{
    font-size: 30px;
    color: rgb(35, 53, 160);
}

.announce.show {
    height: 24rem;
    visibility: visible;
    opacity: 1;
}

body.bodyBlur > *:not(.announce) {
    filter: blur(6px);
    opacity: 0.5;
    transition: 1s filter linear;
  }

  /* MOBILE SECTION  */

  @media only screen and (max-width: 450px) {
    body {
        width: 90%;
        margin: 0 auto;
    }

    header button {
        height: 3rem;
        width: 4rem;
        margin: 0 0.5rem;
        font-size: 20px;
        border: 1.5px solid rgb(35, 53, 160);
        border-radius: 5px;
        background-color: rgb(242, 250, 253);
    }

    .field{
        width: 6rem;
        height: 6rem;
    }
  }